@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    body {
        background-color: #cffbff;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .run-right {
        animation: run-right 10s ease-in-out infinite;
    }

    .run-left {
        animation: run-left 10s ease-in-out infinite;
    }

    @keyframes run-right {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(100%);
        }
    }

    @keyframes run-left {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}

@layer base {
    .input {
        @apply block w-full text-base placeholder-gray-400 transition duration-150 ease-in-out;
    }
}

@layer components {
    .box {
        @apply h-4 w-4 bg-white m-[2px];
    }
}
